.container {
  margin-left: 3%;
  position: block;
  margin-right: 3%;
  text-align: center;

  .mgp {
    float: start;
    display: flex;
    color: #185564;
    align-items: center;

    button {
      margin-left: -0.5%;

      mat-icon {
        margin-top: -2%;
      }
    }

    .href {
      text-decoration: none;
      color: #185564;
    }

    .selected {
      font-weight: bold;
    }
  }
}

.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}

.export {
  margin-left: 2%;
  margin-top: 3%;
  display: flex;
  color: #185564;
}

.top {
  margin-left: 4%;
  margin-right: 6%;

  .Fil {
    margin-bottom: 1%;
    float: right;
    border: 2px solid #185564;
    border-radius: 0.5rem;
    border-color: #185564;
    width: 6%;
    color: #185564;
  }

  mat-card {
    .close {
      font-size: 30px;
      text-align: right;
      margin-top: -1%;
    }

    .FilSear {
      margin-top: 1%;
      border: 2px solid #185564;
      border-radius: 0.5rem;
      border-color: #185564;
      width: 6%;
      color: #185564;
    }
  }

  .filter {
    font-size: 14px;
  }

  mat-radio-button {
    margin: 1%;
  }
}

.Order {
  font-size: 14px;
  margin-top: 1%;

  mat-radio-button {

    mat-radio-button,
    mat-slide-toggle {
      margin: 1%;
    }
  }

  .form {
    align-items: flex-start;
    text-align: center;

    mat-form-field {
      margin-left: 1%;
    }
  }



}


.title {
  color: #185564;
  margin: 0px auto;
  text-align: left;
  margin-left: 2%;

}

mat-panel-title {
  span {
    float: right;
  }
}

table {
  width: 100%;
  width: 90%;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;

  mat-table {
    overflow: auto;
    margin-left: 2%;
    max-height: 500px;
  }

  .Num {
    width: 8%;
  }

  .Depe {
    width: 10%;
  }

  .Desc {
    width: 60%;
  }

  .Est {
    width: 12%;
  }

  .Acc {
    width: 10%;
  }

  th {
    background-color: #185564;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    mat-form-field,
    mat-label,
    input {
      color: whitesmoke;
      width: 100%;
    }

    div {
      align-items: center;

      mat-icon {
        font-size: 20px;
        color: white;
      }
    }
  }

  td {
    text-align: center;
    font-size: 11px;

    button {
      margin-right: 35%;
      font-size: 11px;

    }

    div {
      display: inline-flex;

      .btnActions {
        border-color: #185564;
        border: 2px solid #185564;
        color: #185564;
        border-radius: 0.5rem;
        margin: 1%;
      }
    }
  }


}



.pagination {
  display: inline-table;
  margin-top: 2%;


  .take {
    width: 40px;
    float: left;
  }

  .page {
    width: 53px;
    text-align: center;
    float: left;

  }

}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  color: #185564;
}

.pagination a.active {
  background-color: white;
  color: #185564;
  border-radius: 0.5rem;
  border: 2px solid #185564;

}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}



mat-card-actions {
  display: block;
  margin-bottom: 5%;

  .buton {
    border-color: #185564;
    margin: 1%;
    margin: 2%;
    border: 2px solid #185564;
    color: #185564;
    width: 15rem;
    border-radius: 1.5rem;
    font-weight: bold;
    align-items: center;
    line-height: 0px;
  }

  .btn:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    color: white;
    background-color: #185564;
  }
}


//quitar felchas input tipo number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

  -webkit-appearance: none;

  margin: 0;

}



input[type=number] {

  -moz-appearance: textfield;

}