<app-header></app-header>


  <div class="container center-h center-v">
    <div class="row">
      <div class="columna">


        <mat-card-title class="texto">
          <h1><strong>Requerimientos</strong></h1>
        </mat-card-title>


        <div class="col">
          <div class="row">
            <div class="row justify-content-around">

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="numrequired">
                  <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header>Número de requerimientos</th>
                  <td mat-cell *matCellDef="let element">{{ element.numeroRequerimiento}}</td>
                </ng-container>

                <ng-container matColumnDef="dependenci">
                  <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header>Dependencia destino de los recursos</th>
                  <td mat-cell *matCellDef="let element">{{ element.dependenciaDestino }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header>Descripción</th>
                  <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header>Estado</th>
                  <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <tr>
                    <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header> Accion </th>
                  </tr>
                  <tr>
                    <td mat-cell *matCellDef="let row" style="width:1%">
                      <mat-icon mat-icon-button style="margin-left: 4px" (click)="resumenejecucion(row)"
                        title="Resumen Ejecución">insert_drive_file</mat-icon>
                    </td>
                  <tr>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

            <mat-paginator [length]="resultsLength" [pageSize]="pagesSize" ></mat-paginator>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



<app-footer></app-footer>