.container {
    text-align: center;
    vertical-align: center;
    margin-top: 3%;
}

.center-h {
    justify-content: center;
}

.center-v {
    align-items: center;
}
img{
    margin-top: 8%;
    width: 60%;
}

@media only screen and (max-width: 576px) {
    img{
        margin-top: 50%;
        width: 90%;
    }
}
