.container {
    margin-left: 3%;
    position: block;
    margin-right: 3%;
    text-align: center;

    div {
        text-align: end;

        .btnAction {
            width: 100%;
            align-items: center;
            color: #185564;
            margin-bottom: 0.5%;
            display: block;
            line-height: 0px;

            span {
                margin-bottom: 10%;
            }

            mat-icon {
                margin-left: 0.5%;
                border-color: #185564;
                border: 2px solid #185564;
                color: #185564;
                border-radius: 0.5rem;
            }
        }
    }

    .colorCard1 {
        background-color: #dcf8ff;
    }
    .colorCard2 {
        background-color: white;
    }

    .formCont {
        .tablaCont {
            display: flex;
            margin-left: 2%;
            margin-right: 2%;
            color: black;

            .contTxt {
                text-align: left;
                margin: 1%;
                margin-top: 0.8%;
                margin-bottom: 0.8%;
                .tltData {
                    font-size: 14px;
                    margin-bottom: -1.5%;

                    mat-select {
                        margin-top: 2%;
                    }
                    .colorSelect{
                        background-color: white;
                    }
                }

                .contData {
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                    height: 30px;
                    width: 100%;
                    margin-top: 1.5%;
                }
                .contDataArea{
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                    margin-top: 1.5%;
                    width: 392%;
                    font-family: "Montserrat", sans-serif;
                }
                .contDataSelect{
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                    height: 33px;
                    width: 100%;
                    margin-top: 1.5%;
                    background-color: white;
                    ::ng-deep .mat-select-trigger {
                        margin-top: 2%;
                      //  vertical-align: center;
                    }
                }
                .arreglo{
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                    height: 33px;
                    width: 100%;
                    margin-top: 1.5%;
                    background-color: white;
                    ::ng-deep .mat-select-trigger {
                        margin-top: 1%;
                      //  vertical-align: center;
                    }
                }	
                .contDataAutocomplete{
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                    height: 30px;
                    width: 100%;
                    margin-top: 1.5%;
                    background-color: white;
                    ::ng-deep .mat-select-trigger {
                        margin-top: 2%;
                    }
                }

                .contDataDisabled {
                    border-color: gray;
                    background-color: white;
                    color:  gray;
                }

                ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
                    padding: 0.2em 0px !important;
                    height: 35px;
                    border: 2px solid #185564;
                    border-radius: 0.3rem;
                }
            }

            .dis{
                display: inline;
            }
            .label1 {
                width: 25%;
            }

            .label2 {
                width: 52%;
            }
            .label3 {
                width: 25%;
            }
            .label4 {
                width: 82%;
            }
        }
    }
}

//MIGA PAN
.mgp {
    float: start;
    display: flex;
    color: #185564;
    align-items: center;

    button {
      margin-left: -0.5%;

      mat-icon {
        margin-top: -2%;
      }
    }

    .href {
      text-decoration: none;
      color: #185564;
    }

    .selected {
      font-weight: bold;
    }
}


.center-h {
    justify-content: center;
}

.center-v {
    align-items: center;
}


.title {
    font-size: 20px;
    font-weight: bold;
    color: #185564;
}

.btnCard{
    text-align: start;
    margin-left: 3.5%;
    margin-top: 0.5%;
    .buton2 {
        background-color: white;
         margin-top: -8%;
         border-color: #185564;
         border: 2px solid #185564;
         color: #185564;
         width: 15rem;
         border-radius: 1.5rem;
         font-weight: bold;
         align-items: center;
         line-height: 0px;
     }
}

mat-card-actions {
    display: block;
    margin-top: 4%;
    margin-bottom: 5%;

    .buton {
        border-color: #185564;
        margin: 2%;
        border: 2px solid #185564;
        color: #185564;
        width: 15rem;
        border-radius: 1.5rem;
        font-weight: bold;
        align-items: center;
        line-height: 0px;
    }

    .btn:hover {
        cursor: pointer;
        transition-duration: 0.3s;
        color: white;
        background-color: #185564;
    }
}


// ::ng-deep .mat-form-field-label-wrapper {
//     top: -1.5em;
// }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
}

table {
    width: 93.5%;
    margin-left: 3%;
    margin-right: 3%;
    
    th {
        background-color: #185564;
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    td {
        text-align: center;
        font-size: 11px;
    }
    mat-table {
      max-height: 500px;
    }

    //ESTILOS TABLA CLASIFICACION PRESUPUESTAL
    .mes{
        width: 3%;
    }
    
    .vig{
        width: 8%;
    }
    
    .aux{
        width: 3%;
    }
    
    .det{
        width: 20%;
    }
    
    .act {
        width: 6%;
    }
    
    .met{
        width: 6%;
    }
    
    .fue{
        width: 6%;
    }
    
    .msp{
        width: 6%;
    }
    
    .mga{
        width: 8%;
    }
    
    .pos{
        width: 10%;
    }
    
    .apr{
        width: 18%;
    }
    
    .aum{
        width: 13%;
    }
    
    .dis{
        width: 10%;
    }
    
    .acc {
        width: 17%;
    }

    //ESTILOS TABLA CLASIFICACION CODIGOS UNSPSC

    .Cod{
        width: 20%;
    }
    
    .Des{
        width: 70%;
    }
}
.tableReviews{
    margin-top: 0%;
}
.tbleRew{
    overflow: auto;  
    margin-top: -4%;
}
//AJUSTES A LOS ICONOS DE LAS TABLAS Y VERSION ACTUAL
    .btnActions {
        border-color: #185564;
        border: 2px solid #185564;
        color: #185564;
        border-radius: 0.5rem;
        margin: 1%;
    }
    .Actions{
        display: flex;
        margin-left: 10px;
    }


//quitar felchas input tipo number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}