<div mat-dialog-title class="flex-container">
    <button mat-button class="close-icon" [mat-dialog-close]="true"> 
        <mat-icon>close</mat-icon> 
    </button> 
</div>

<!-- VE 3: ALERT  ADVERTENCIA INPUT -->
<div *ngIf="data.type === 'warningInput'">
    <div class="card">
        <img class="logo" src="assets/img/danger.png">
        <h1 class="title" style="color: rgb(255, 208, 0);" mat-dialog-title>{{data.title}}</h1>
        <div class="warningInput" style="margin-left: -4.2%;" mat-dialog-content>
          <p>{{data.message}}</p>
        </div>
        <div class="warningInput">
            <mat-form-field  appearance="fill">
                <textarea class="contDataArea" rows="4" placeholder="Longitud 250"></textarea>
            </mat-form-field>
        </div>
          <div class="warningInput" style="margin-left: -4.2%;" mat-dialog-content>
            <p>{{data.message2}}</p>
          </div>
        <div class="buttons" mat-dialog-actions>
            <button mat-button class="butonWarningInput btn" [mat-dialog-close]="data.value" cdkFocusInitial>APROBAR</button>
            <button mat-button class="butonWarningInput btn" [mat-dialog-close]="data.value">SOLICITAR AJUSTES</button>
            <button mat-button class="butonWarningInput btn" [mat-dialog-close]="data.value">RECHAZAR</button>
            <!-- <button mat-button class="butonWarningInput btn" [mat-dialog-close]="data.value">CANCELAR</button> -->
        </div>
    </div>
</div>
