.flex-container {
    display: flex;
    align-items: center;
    margin-left: 95%;
    margin-top: -2.3%;
   }
   
   .title {
     font-weight: 700;
   }
 
   .card{
     background-color: white;
     text-align: center;
     
     .logo {
       margin-top: 2%;
       max-width: 65px;
     }
   }
 
   .buttons {
     display: block;
 
     .buton {
       border-color: #185564;
       margin: 1%;
       border: 2px solid #185564;
       color: #185564;
       width: 12rem;
       border-radius: 1.5rem;
       font-weight: bold;
       align-items: center;
       text-transform: uppercase;
   }
 
   .btn:hover {
       cursor: pointer;
       transition-duration: 0.3s;
       color: white;
       background-color: #185564;
   }
 
   .butonWarningInput {
     border-color: #185564;
     margin: 1%;
     border: 2px solid #185564;
     color: #185564;
     width: 12rem;
     border-radius: 1.5rem;
     font-weight: bold;
     align-items: center;
     text-transform: uppercase;
 }
 }
 
 .warningInput {
   text-align: initial;
   padding-left: 20%;

   .btngImport {
    margin-top: 1%;
    margin-bottom: 1%;
    color: #3772FF;
    float: right;

    .imgImport {
        color: #3772FF;
        margin-left: 2%;
        width: 28px;
    }
}

 }
 
 .contDataArea{
   border: 2px solid #185564;
   border-radius: 0.3rem;
   width: 72%;
   font-family: "Montserrat", sans-serif;
 }

 .contTxt {
  text-align: left;
  width: 40%;
  margin: 1%;
  margin-left: 30%;

  .tltData {
    font-size: 14px;
    margin-bottom: -0.1%;
    margin-left: 1.5%;
  }

  .contDataSelect{
      border: 2px solid #185564;
      border-radius: 0.3rem;
      // margin-top: 2.5px;
      height: 32px;

      ::ng-deep .mat-select-trigger {
        height: 32px;
        padding: 5px;
      }
    }
}