.container {
  margin-left: 3%;
  position: block;
  margin-right: 3%;
  text-align: center;

  //MIGA PAN
  .mgp {
    float: start;
    display: flex;
    color: #185564;
    align-items: center;

    button {
      margin-left: -0.5%;

      mat-icon {
        margin-top: -2%;
      }
    }

    .href {
      text-decoration: none;
      color: #185564;
    }

    .selected {
      font-weight: bold;
    }
  }
}

//POSICIONAMIENTO DEL CONTENIDO DEL COMPONENTE
.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}

.tablaCont {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  color: black;
  text-align: left;
  display: flex;
}

.export {
  margin: 2%;
  display: flex;
}

.btnExcel {
  margin-right: 6%;
  color: #35867c;
  text-align: end;
  margin-bottom: 1%;
}

.imgExcel {
  margin-left: 2%;
  color: #35867c;
  width: 30px;
}

.contData {
  border-color: #185564;
  border: 2px solid  #185564;
  border-radius: 0.5rem;
  height: 36px;
  margin-top: -5%;
  padding: 0px 0px 0px 5px;
  width: 100%;
}

.tltData {
  font-size: 16px;
}

.sltData {
  font-size: 100%;
  margin: 3%;
  width: 95%;
}


.contTxt {
  padding-left: 1%;
  padding-right: 1%;
}

.label1 {
  width: 24%;
}

.label2 {
  width: 50%;
}

.label3 {
  width: 100%;
}

input {
  width: 100%;
}

.label__year {
  margin-bottom: 4%;
}

.div__year {
  margin-top: -3.6%;
}

.contDataDisabled {
  border-color: gray;
  background-color: white;
  color:  gray;
}

mat-card-actions {
  display: block;
  margin-top: 2rem;
  margin-bottom: 5rem;

  .buton {
    border-color: #185564;
    margin: 1%;
    margin: 2%;
    border: 2px solid #185564;
    color: #185564;
    width: 15rem;
    border-radius: 1.5rem;
    font-weight: bold;
    align-items: center;
    line-height: 0px;
  }
  
  .btn:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    color: white;
    background-color:#185564;
  }
}


/* RESPONSIVE*/
@media only screen and (max-width: 850px) {
  .tablaCont {
    display: grid;
    grid-template-columns: auto;
  }


  .label1 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .label2 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .label3 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sltData {
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: 5px;
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  .sltData {
    margin-top: 2.5%;
    margin-bottom: -2.5%;
    margin-left: 5px;
    width: 95%;
  }
}