<app-header></app-header>


<strong>
  <p class="subTitle">RESUMEN EJECUCION PRESUPUESTAL - FFDS</p>
</strong>

<a  mat-button routerLink="#">Exportar<img class ="img" src="../../../../assets/img/excel.jpg"></a>


<form>

<table cellspacing="35">
    <tr>
    <td>
      <mat-form-field class="label1" appearance="fill">
        <mat-label>Codigo del Proyecto</mat-label>
      <input matInput disabled value="{{valor}}">
      </mat-form-field>
    </td>

    <td>
      <mat-form-field class="label2" appearance="fill">
        <mat-label>Subsecretaria</mat-label>
      <input matInput disabled value="">
      </mat-form-field>
    </td>

    <td>
      <mat-form-field class="label3" appearance="fill">
        <mat-label>Dependencia orígen de los recursos</mat-label>
      <input matInput disabled value="">
      </mat-form-field>
    </td>
  </tr>
</table>


<table cellspacing="35">
  <tr>
  <td>
    <mat-form-field class="label2" appearance="fill">
      <mat-label>Nombre del Responsable</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label1" appearance="fill">
      <mat-label>Teléfono del Responsable</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label1" appearance="fill">
      <mat-label>Correo Electrónico del Responsable</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>
</tr>
</table>

<table cellspacing="35">
  <tr>
  <td>
    <mat-form-field class="label2" appearance="fill">
      <mat-label>Unidad de Contratación</mat-label>
      <mat-label></mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <!-- <td>
    <mat-form-field class="label1" appearance="fill">
      <mat-label>Año</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td> -->
<!--
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
     <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->


</tr>
</table>

<table cellspacing="35">
  <tr>
  <td>
    <mat-form-field class="label4" appearance="fill">
      <mat-label>Nobre del Proyecto de Inversión</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>
</tr>
</table>

<table cellspacing="20">
  <tr>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Apropiación Inicial</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Apropiación Definitiva</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Ejecución Acumulada</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>


  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>% Ejecución</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>
</tr>
</table>


<table cellspacing="20">
  <tr>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Por Ejecutar</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Giro Acumulado</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>% Ejecución</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>


  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Reserva Constituida</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>
</tr>
</table>

<table cellspacing="20">
  <tr>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>Giros de Reserva</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="label5" appearance="fill">
      <mat-label>% Ejecución</mat-label>
    <input matInput disabled value="">
    </mat-form-field>
  </td>

</tr>
</table>

<section>
    <button mat-button color="primary" class="btn">Regresar</button>
</section>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</form>






<app-footer></app-footer>



