.subTitle{
  margin-top: 5rem;
  color: #35867c;
  font-size: 26px;
  margin-left: 5%;
}



.img,a{
  color: #35867c;
  margin-left: 152rem;
  width: 15%;
  margin: 1rem;
  left: 85rem;
}

.label1{
  background-color:#E5E7E9 ;
  width: 25rem;
  margin-top: -3rem;
  margin-left: 2rem;
}

.label2{
  background-color:#E5E7E9 ;
  width: 50rem;
  margin-top: -5rem;
  margin-left: 2rem;
}

.label3{
  background-color:#E5E7E9 ;
  width: 25rem;
  margin-top: -1rem;
  margin-left: 2rem;
}

.label4{
  background-color:#E5E7E9 ;
  display:block;
  width: 109rem;
  margin-top: -1rem;
  margin-left: 2rem;
}

.label5{
  background-color:#E5E7E9 ;
  display:block;
  width: 25rem;
  margin-top: -1rem;
  margin-left: 2rem;
}


.btn{
  background-color:#E5E7E9 ;
  margin-top: 2rem;
  color: #35867c;
  margin-left:50rem;
}






.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
