<header class="header">
  <div class="header-content">
    <div class="logotipo">
      <a href=""><img class="logoWAPI" src="assets/img/logoWapi.png" /></a>
    </div>
    <div class="titleSubtitle">
      <strong>
        <p class="title">WAPI</p>
        <p class="subTitle">APLICACIONES PROYECTOS DE INVERSION</p>
      </strong>
    </div>
    <div class="logoActions">
      <img class="logo" src="assets/img/LogoAlcaldiaBogo.png" />

      <button class="buton" mat-button [matMenuTriggerFor]="menu" mat-icon-button>
        login
        <mat-icon>person</mat-icon>
      </button>
      <button  mat-button [matMenuTriggerFor]="menu" mat-icon-button>
        salir
        <mat-icon> expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogOut()">Cerrar Sesion</button>
      </mat-menu>
    </div>
  </div>
</header>