/* header */
.header {
    color: #ffffff;
    background-color:  #3ebee3;
    flex-direction: row;
}
.logoWapi {
    margin-top: 14%;
    margin-left: 5%;
}


.logoAlc {
    float: right;
    margin: 0;
}

a:hover,
a:active {
    color: lightgray;
}

.postiLog {
    vertical-align: center;
}

@media only screen and (max-width: 576px) {
    .header-content {
        display: flex;
        align-items: center;

        .logoWapi {
            margin-top: 4%;
            max-width: 7rem;
            min-width: 5rem;
            width: 100%;
        }
        .logoAlc {
            margin-top: -3%;
            max-width: 10%;
            min-width: 10rem;
            width: 100%;
        }
    }
}


@media only screen and (min-width: 576px) {
  
    .header-content {
        display: flex;
        align-items: center;

        .logoWapi {
            max-width: 10rem;
            min-width: 6rem;
            width: 100%;
        }
        .logoAlc {
            margin-top: -0.5%;
            max-width: 15.5%;
            min-width: 14rem;
            width: 100%;
        }
    }

}

