<div class="container center-h center-v">
    <!--Miga de Pan-->
    <div class="mgp">
        Plan Anual de Adquisiciones
        <a class="href "  [routerLink]="['/WAPI/PAA/Adquisiciones']">
          &nbsp;>&nbsp;{{codProject}}
          -&nbsp;{{nomProject}}
        </a>
        <a class="href" [routerLink]="['/WAPI/PAA/Requerimientos/', dataProjectID]">
          &nbsp;>&nbsp;Requerimientos
        </a>
        <a class="href selected" [routerLink]="['/WAPI/PAA/CDP/', dataProjectID, requerimentId]">
          &nbsp;>&nbsp; CDP
        </a>
      </div>

     <!--TITULO-->
     <div style="overflow: auto;">
        <div class="opciones">
            <div class="export">
                <mat-card-title>
                <h1><strong>CERTIFICADO DE DISPONIBILIDAD PRESUPUESTAL (CDP)</strong></h1>
                </mat-card-title>
            </div>

            <span class="btngImport">
                <button type="button" class="btn btngImport" mat-raised-button (click)="fileInput.click()">Importar<img class="imgImport" src="../../../../assets/img/import.png"></button>
                <input type="file" hidden #fileInput > <!-- (change)="getFile($event)" [disabled]="(dataSolicitudModID !== '0') ? true : false" -->
            </span>
        </div>

        <!--TABLA GRANDE CON FOOTER-->
        <div style="overflow: auto;">
            <table mat-table class="tablePrin mat-elevation-z8" [dataSource]="dataSource">
              <ng-container matColumnDef="Vigencia">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>Vigencia</p>  </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.pospre}} </p> </td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"></td>
              </ng-container>
  
              <ng-container matColumnDef="CDP">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header><p>CDP</p></th>
                <td mat-cell *matCellDef="let element"> <p>{{element.mga}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"></td>
              </ng-container>
  
              <ng-container matColumnDef="FECHA CDP">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>FECHA CDP</p></th>
                <td mat-cell *matCellDef="let element"> <p>{{element.auxiliar}}</p>  </td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"><p style="margin-top: 8%;">TOTAL GENERAL</p></td>
              </ng-container>
  
              <ng-container matColumnDef="VALOR INICIAL">
                <th mat-header-cell *matHeaderCellDef class="encabesado"><p>VALOR INICIAL</p></th>
                <td mat-cell *matCellDef="let element"> <p>{{element.sumaValorAumenta | currency:"COP":'symbol-narrow': '1.0-0'}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"> <p style="margin-top: 5%;">{{0 | currency:"COP":'symbol-narrow': '1.0-0'}} </p></td>
              </ng-container>
  
              <ng-container matColumnDef="VALOR ANULACIÓN">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>VALOR ANULACIÓN</p> </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.sumaValorAumenta | currency:"COP":'symbol-narrow': '1.0-0'}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"> <p style="margin-top: 5%;">{{0 | currency:"COP":'symbol-narrow': '1.0-0'}} </p></td>
              </ng-container>
  
              <ng-container matColumnDef="FECHA ANULACIÓN">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>FECHA ANULACIÓN</p> </th>
                <td mat-cell *matCellDef="let element">  <p>{{element.sumaValorDisminuye}} </p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"></td>
              </ng-container>
  
              <ng-container matColumnDef="VALOR FINAL">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>VALOR FINAL</p> </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.diferencia | currency:"COP":'symbol-narrow': '1.0-0'}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"><p style="margin-top: 9.5%;">{{0 | currency:"COP":'symbol-narrow': '1.0-0'}} </p></td>
              </ng-container>

              <ng-container matColumnDef="No. RP">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>No. RP</p> </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.diferencia}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"></td>
              </ng-container>

              <ng-container matColumnDef="VALOR RP">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>VALOR RP</p> </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.diferencia | currency:"COP":'symbol-narrow': '1.0-0'}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"><p style="margin-top: 9.5%;">{{0 | currency:"COP":'symbol-narrow': '1.0-0'}} </p></td>
              </ng-container>

              <ng-container matColumnDef="VALOR DISTRIBUIDO">
                <th mat-header-cell *matHeaderCellDef class="encabesado" mat-sort-header ><p>VALOR DISTRIBUIDO</p> </th>
                <td mat-cell *matCellDef="let element"> <p>{{element.diferencia | currency:"COP":'symbol-narrow': '1.0-0'}}</p></td>
                <td mat-footer-cell *matFooterCellDef class="encabesado"><p style="margin-top: 9.5%;">{{0 | currency:"COP":'symbol-narrow': '1.0-0'}} </p></td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
         </div>
     </div>

     <!-- PAGINACION -->
    <div class="pagination " [formGroup]="paginationForm">

        <mat-form-field class="take" appearance="legacy" matTooltip="Items por pagina">
          <mat-select formControlName="take" (selectionChange)="getPagination()">
            <mat-option [value]="Item" *ngFor="let Item of pageSizeOptions">{{Item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <a (click)="firstPage()">
          <mat-icon matTooltip="Primer pagina">first_page</mat-icon>
        </a>
        <a (click)="prevPage()">
          <mat-icon matTooltip="Anterior">chevron_left</mat-icon>
        </a>
        <mat-form-field class="page" appearance="legacy">
          <mat-label>pagina</mat-label>
          <input matInput value="{{numberPage}}" formControlName="page">
          <button matSuffix (click)="getPagination()" mat-icon-button>
            <mat-icon matTooltip="Buscar Pagina">youtube_searched_for</mat-icon>
          </button>
          <mat-hint> {{numberPage}} de {{numberPages}}</mat-hint>
        </mat-form-field>
        <a (click)="nextPage()">
          <mat-icon matTooltip="Siguiente">chevron_right</mat-icon>
        </a>
        <a (click)="latestPage()">
          <mat-icon matTooltip="Ultima pagina">last_page</mat-icon>
        </a>
    
      </div>


     <div style="margin-top: 3%;">
        <mat-card-actions>
          <button class="buton btn" mat-button mat-icon-button (click)="regresar()">REGRESAR</button>
        </mat-card-actions>
      </div>

</div>
